.no-cursor {
  cursor: no-drop;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.8rem;
}

.home__header--link {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  margin-right: 20px;
}

.home__header--link:hover {
  text-decoration: underline;
}

.home__header--right, .home__header--left {
  display: flex;
  align-items: center;
}

.home__header--right {
  justify-content: space-between;
  min-width: 13vw;
}

.home__header--right > .MuiSvgIcon-root {
  margin-right: 20px;
  cursor: pointer;
}

.home__body {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10%;
  flex-direction: column
}

.home__logo {
  height: 100px;
  margin-bottom: 40px;
}

/* Search Component */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search__input {
  width: 75vw;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  border-radius: 999px;
  padding: 8px 20px;
  margin: 0 auto;
  max-width: 620px;
}

.search__input input {
  flex: 1;
  padding: 8px 20px;
  font-size: medium;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
}

.search__input--icon {
  color: gray;
}

.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search__buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #f8f8f8;
  border: 1px solid white;
  text-transform: inherit;
  color: #5f6368;
  font-weight: 400;
  font-size: 15px;
}

.search__buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.button__hidden {
  display: none !important;
}

.search-page__header {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.search-page__header--body .search {
  align-items: start;
}

.search-page__header--body .search .search__input {
  margin-top: 0;
  width: 100%;
  margin: unset;
  max-width: unset;
}

.search-page__logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.search-page__options {
  display: flex;
  align-items: center;
  color: gray;
}

.search-page__options--left, .search-page__options--right {
  display: flex;
}

.search-page__options a {
  text-decoration: none;
  color: gray;
}

.search-page__option {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
}

.search-page__option:hover{
  border-bottom: 2px solid rgb(60, 151, 255);
}

.search-page__option a {
  margin-left: 4px;
}

.search-page__options--right {
  margin-left: 80px;
}

.search-page__results {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.search-page__result {
  margin: 40px 0;
}

.search-page__result--title {
  text-decoration: none;
  color: #1a0dab;
}

.search-page__result--title:hover {
  text-decoration: underline;
}

.search-page__result--title h2 {
  font-weight: 500;
}

.search-page__result--snippet {
  margin-top: 8px;
}

.search-page__link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.search-page__result--img {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}