/* Google Font Importing */

@font-face {
  font-family: "Google Sans";
  src: url("./Assets/Font/ProductSans-Thin.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Google Sans";
  src: url("./Assets/Font/ProductSans-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Google Sans";
  src: url("./Assets/Font/ProductSans-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Google Sans";
  src: url("./Assets/Font/ProductSans-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Google Sans";
  src: url("./Assets/Font/ProductSans-Black.woff");
  font-weight: 900;
}

/*------------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
}
